/* ============================================================================================= 
general 
============================================================================================= */

*,
::after,
::before {
  box-sizing: border-box;
}

/* ============================================================================================= 
fonts
============================================================================================= */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Oswald:400");

html {
  font-size: 100%;
} /*16px*/

:root {
  --headingFont: "Oswald", sans-serif;
  --bodyFont: "Source Sans Pro", sans-serif;
  --smallText: 0.7rem;
}

body {
  background: ;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* ============================================================================================= 
colors
============================================================================================= */
:root {
  /* primary */
  --primary-100: #d9dad7;
  --primary-200: #b2b5b0;
  --primary-300: #8c9188;
  --primary-400: #656c61;
  --primary-500: #3f4739;
  --primary-600: #32392e;
  --primary-700: #262b22;
  --primary-800: #191c17;
  --primary-900: #0d0e0b;

  /* grey */
  /* base */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}
