*,
::after,
::before {
  box-sizing: border-box;
}

/* ============================================================================================= 
colors
============================================================================================= */

:root {
  /* primary */
  --primary-100: #d9dad7;
  --primary-200: #b2b5b0;
  --primary-300: #8c9188;
  --primary-400: #656c61;
  --primary-500: #3f4739;
  --primary-600: #32392e;
  --primary-700: #262b22;
  --primary-800: #191c17;
  --primary-900: #0d0e0b;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* base */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

/* ============================================================================================= 
fonts
============================================================================================= */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Oswald:400");

html {
  font-size: 100%;
} /*16px*/

:root {
  --headingFont: "Oswald", sans-serif;
  --bodyFont: "Source Sans Pro", sans-serif;
  --smallText: 0.7rem;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* ============================================================================================= 
other variables
============================================================================================= */

:root {
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1170px;
  --fix-width: 400px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  text-transform: capitalize;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-4);
}

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* loading spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  -webkit-animation: spinner 0.6s linear infinite;
}

/* ============================================================================================= 
Counter
============================================================================================= */
.center {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.section-center {
  width: var(--fix-width);
  display: grid;
  justify-items: center;
}
.section-center h2 {
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0;
}
.section-center h1 {
  font-size: 400%;
  font-weight: bold;
  margin-bottom: 0;
}
.counter-buttons {
}
.btn-counter {
  background: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  box-shadow: var(--shadow-1);
}
